/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b5998;
  --ifm-color-primary-dark: #344b82;
  --ifm-color-primary-darker: #31467a;
  --ifm-color-primary-darkest: #2a3c65;
  --ifm-color-primary-light: #4466b0;
  --ifm-color-primary-lighter: #486cb4;
  --ifm-color-primary-lightest: #5b7fc6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #82a0d1;
  --ifm-color-primary-dark: #7390be;
  --ifm-color-primary-darker: #6c88b6;
  --ifm-color-primary-darkest: #597096;
  --ifm-color-primary-light: #91b0e5;
  --ifm-color-primary-lighter: #98b6e7;
  --ifm-color-primary-lightest: #adc6ed;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
